timeline {
	enabled = true
}

singularity {
	enabled = true
}

process {

	publishDir = [path: '.', mode: 'copy', overwrite: 'true']

	container = 'docker://obenauflab/circos'
	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20

	cpus = 1
	time = { 1.h * task.attempt }
	memory = { 1.GB * task.attempt }

}

profiles {

    standard {
        process.executor = 'local'
		process.maxForks = 3
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
    }

	slurm {
		process.executor = 'slurm'
		process.clusterOptions = '--qos=short'
	}

	local {
		process.executor = 'local'
		singularity.enabled = false
		process.maxForks = 3
	}
}
